* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('/images/common/unsplash.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: white;
}

/* /////////////////// NAVBAR ////////////// */
.navbar {
  display: flex;
  font-size: 100%;
  margin-left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar a {
  color: black;
  /*  selects font color of links  */
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  /*  sets links to display horizontally  */
}

.navbar li {
  list-style: none;
  /*  removes bullet points from list  */
}

.navbar li a {
  text-decoration: none;
  /*  ^removes underline from links^  */
  padding: 0.5rem;
  /* ^adds padding to space items apart^ */
  display: block;
}

.navbar-links a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  /*  highlights links when hovering on them  */
}

.navbar-logo {
  display: flex;
  justify-content: flex-end;
  /*  ^moves logo to the right of links^  */
  /*   background-color: blue; */
}

.navbar-logo img {
  max-width: 12%;
  /*   background-color: red; */
}

/* when viewport is 600 pixels or less, hamburger menu appears */
@media (max-width: 600px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    height: auto;
  }

  .menu-toggle-button {
    position: relative;
    top: 0.45rem;
    left: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 18px;
  }

  .menu-toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #000;
    /* ^select color of hamburger menu^ */
    border-radius: 10px;
  }

  .menu-toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-logo img {
    max-width: 15%;
  }
}

/* /////////////////// TITLE AREA SECTION ////////////// */
.title-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px;
}

/* /////////////////// FEATURED PROJECTS SECTION ////////////// */
.page-container {
  display: grid;
  grid-gap: 2px;
  border: 2px solid black;
  grid-template-columns: minmax(0, 1fr);
}

.pages {
  display: flex;
}

.pages img {
  max-width: 100%;
  padding: 2px;
}

.img-container {
  width: 50%;
  /*   background-color: orange; */
}

.text-container {
  width: 100%;
  padding: 10px;
  color: black;
  /*   background-color: lightblue; */
}

/* ///////////////////// MOBILE VIEW ///////////////// */
@media only screen and (max-width: 600px) {
  .pages {
    display: block;
  }

  .img-container {
    width: 100%;
  }

  .text-container {
    width: 100%;
    padding: 0;
  }
}

/* HIDE PAGES */
.hidden-pages {
  display: none;
}

/* ///////////////////// ARROW CONTAINER ///////////////// */

.arrow-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  color: white;
  border: solid black 2px;
  background-color: rgba(0, 0, 0, 0.1);
  /* background-color: rgb(235, 29, 29); */
}

.arrow-container .arrowBTN {
  border: 0;
  font-weight: bold;
  cursor: pointer;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  box-shadow: #000;
  background-color: rgba(0, 0, 0, 0.2);
}

.next {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 10px;
  height: 10px;
}

.prev {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 10px;
  height: 10px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* /////////////////// MIDDLE SECTION ////////////// */
.middle-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.items {
  text-align: center;
  padding: 4px;
}

.icon-container {
  font-size: 2rem;
  /*   background-color: orange; */
}

.icon-container a {
  color: lightblue;
}

.text-container-middle {
  width: 100%;
  color: white;
  /*   background-color: lightblue; */
}

.text-container h3 {
  color: #555;
}

/* /////////////////// FOOTER ////////////// */
/* .footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  background-color: rgba(0,0,0, 0.5);
  bottom: 0;
  color: white;
  width: 100%;
  height: auto;
  position: absolute;
} */

.footer-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: white;
  width: 100%;
  height: auto;
  position: fixed;
}

.footer-items i {
  flex-shrink: 10;
}

.footer-icon-container {
  font-size: 3rem;
  /*   background-color: orange; */
}

.footer-icon-container a {
  color: white;
}
